/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Custom SCSS

%anchor-link-reset {
    text-decoration: none;
    color: inherit;
}

%ellipsis-text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --base-white: hsl(0,0%,100%);
    --base-black: hsl(0,0%,10%);
    --primary-color: #1992d4;
    --secondary-color: #e2e8f0;
    --user-color: #facc15;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    background-color: var(--base-white);
    color: var(--base-black);
    // Grid
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "sidenav header"
        "sidenav main";
}

// ---------- Header ----------

header {
    border: 2px solid red;
    padding: 1rem;
    // Grid
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    gap: 1.6rem;
}

// ---------- Header - Search Bar ----------

#search-bar {
    border: 2px solid orange;
    // Grid
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1.6rem;

    form {
        input {
            width: 100%;
            padding: 0.5em 1em;
            background-color: var(--secondary-color);
            border: none;
            border-radius: 100vh;
        }
    }
}

// ---------- Header - User Info Buttons ----------

#user-btns {
    border: 2px solid yellow;
    // Flex
    display: grid;
    grid-template-columns: min-content 4rem max-content;
    grid-template-rows: 4rem;
    align-items: center;
    justify-content: end;
    gap: 1.6rem;
}

#notification-icon {
    font-size: 2rem;
}

#user-icon {
    background-color: var(--user-color);
    padding: 20%;
    border-radius: 50%;

    img {
        width: 100%;
        height: auto;
    }
}

#user-name {
    font-weight: 600;
}

// ---------- Header - User Info ----------

#user-info {
    outline: 2px solid green;
    // Grid
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-template-rows: 6rem;
}

#user-info-icon {
    background-color: var(--user-color);
    padding: 20%;
    border-radius: 50%;

    img {
        width: 100%;
        height: auto;
    }
}

#user-details {
    // Grid
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    align-content: center;
}

#user-details-message {
    font-size: 1.2rem;
    font-weight: 600;
}

#user-deails-name {
    font-size: 2.2rem;
    font-weight: 600;
}

// ---------- Header - Header Buttons ----------

#header-btns {
    border: 2px solid indigo;
    // Grid
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1.6rem;

    a {
        @extend %anchor-link-reset;
        background-color: var(--primary-color);
        color: var(--base-white);
        border-radius: 100vh;
        padding: 0.5em 1em;
        // Grid
        display: grid;
        place-items: center;
    }
}

// ---------- Sidebar ----------

#side-bar {
    background-color: var(--primary-color);
    color: var(--base-white);
    padding: 1.6rem;
    // Grid
    grid-area: sidenav;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 3rem;

    a {
        @extend %anchor-link-reset;
        display: block;
    }

    i {
        margin-right: 1.6rem;
    }
}

#branding, #nav-1, #nav-2 {
    display: grid;
    gap: 1.6rem;

    > * {
        display: grid;
        grid-template-columns: 3rem 1fr;
    }
}

#branding {
    border: 2px solid red;
    font-size: 2rem;
}

#nav-1 {
    border: 2px solid green;
}

#nav-2 {
    border: 2px solid blue;
}

// ---------- Main ----------

main {
    border: 2px solid blue;
    background-color: var(--secondary-color);
    // Grid
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "projects announcements"
        "projects trending";
    gap: 1.6rem;

    h2 {
        font-size: 1.8rem;
        font-weight: 600;
    }
}

%main-grid-item {
    display: grid;
    grid-template-rows: auto 1fr;
}

// ---------- Projects ----------

#projects-section {
    border: 2px solid blue;
    grid-area: projects;
    @extend %main-grid-item;
}

#projects-container {
    border: 2px solid green;
    position: relative;
    overflow: auto;
}

#projects {
    border: 2px solid red;
    // Absolute positioning for overflow: auto to work in parent
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    // Grid
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
    grid-auto-rows: 20rem;
    gap: 1.6rem;

    .project-card {
        border-radius: 1rem;
        border-left: 1rem solid var(--user-color);
        background-color: var(--base-white);
        // Grid
        display: grid;
        grid-template-rows: auto 1fr auto;

        .project-title {
            
        }

        .project-description {

        }

        .project-btns {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            > * {
                cursor: pointer;
                margin: 0.5rem;
                // Remove default button styling
                appearance: none;
                border: none;
                color: black;
                background: transparent;
                padding: 0;

                &:hover > * {
                    transform: scale(1.5);
                }

                > * {
                    // Transition
                    transition: transform 300ms ease;
                }
            }
        }
    }
}

// ---------- Announcements ----------

#announcements-section {
    border: 2px solid red;
    grid-area: announcements;
    @extend %main-grid-item;
}

#announcements {
    background-color: var(--base-white);
    // Grid
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    .announcement {
        display: grid;
        grid-template-rows: auto 1fr;
        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .announcement:not(:last-child) {
        border-bottom: 2px solid black;
    }
}

// ---------- Trending ----------

#trending-section {
    border: 2px solid red;
    grid-area: trending;
    @extend %main-grid-item;
}

#trending {
    background-color: var(--base-white);
    // Grid
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;

    .trending-item {
        --custom-line-height: 1.8rem;
        outline: 2px solid red;
        line-height: var(--line-height);
        // Grid
        display: grid;
        grid-template-columns: 4rem 1fr;
        grid-template-rows: 4rem;

        .trending-item-icon {
            background-color: var(--primary-color);
            padding: 20%;
            border-radius: 50%;

            img {
                width: 100%;
                height: auto;
            }
        }

        .trending-item-info {
            // Grid
            display: grid;
            grid-template-rows: repeat(2, auto);
            align-items: center;
            align-content: center;

            .trending-item-username {
                //outline: 2px solid blue;
                @extend %ellipsis-text-overflow;
                font-size: 1.2rem;
            }
    
            .trending-item-title {
                //outline: 2px solid red;
                @extend %ellipsis-text-overflow;
                font-size: 1.8rem;
            }
        }
    }
}