/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#notification-icon, #header-btns a, #side-bar a {
  text-decoration: none;
  color: inherit;
}

#trending .trending-item .trending-item-info .trending-item-username, #trending .trending-item .trending-item-info .trending-item-title {
  white-space: nowrap;
}

#projects .project-card, #announcements, #trending {
  -webkit-box-shadow: 2px 2px 5px #4d4d4d;
          box-shadow: 2px 2px 5px #4d4d4d;
}

:root {
  --base-white: hsl(0,0%,100%);
  --base-black: hsl(0,0%,10%);
  --primary-color: #1992d4;
  --secondary-color: #e2e8f0;
  --user-color: #facc15;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  background-color: var(--base-white);
  color: var(--base-black);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(max-content, 1fr) 5fr;
      grid-template-columns: minmax(-webkit-max-content, 1fr) 5fr;
      grid-template-columns: minmax(max-content, 1fr) 5fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "sidenav header" "sidenav main";
}

header {
  padding: 1rem 4rem;
  -webkit-box-shadow: 0 0 5px var(--base-black);
          box-shadow: 0 0 5px var(--base-black);
  z-index: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
}

#search-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
}

#search-bar form input {
  width: 100%;
  padding: 0.5em 1em;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 100vh;
}

#user-btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 4rem max-content;
      grid-template-columns: -webkit-min-content 4rem -webkit-max-content;
      grid-template-columns: min-content 4rem max-content;
  -ms-grid-rows: 4rem;
      grid-template-rows: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 2rem;
}

#notification-icon {
  font-size: 2rem;
}

#notification-icon i {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: top;
          transform-origin: top;
}

#notification-icon:hover i, #notification-icon:active i, #notification-icon:focus i {
  -webkit-animation-name: ding-bell;
          animation-name: ding-bell;
}

@-webkit-keyframes ding-bell {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  80% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes ding-bell {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  80% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#user-icon {
  background-color: var(--user-color);
  padding: 20%;
  border-radius: 50%;
}

#user-icon img {
  width: 100%;
  height: auto;
}

#user-name {
  font-weight: 600;
}

#user-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6rem 1fr;
      grid-template-columns: 6rem 1fr;
  -ms-grid-rows: 6rem;
      grid-template-rows: 6rem;
  gap: 1rem;
}

#user-info-icon {
  background-color: var(--user-color);
  padding: 20%;
  border-radius: 50%;
}

#user-info-icon img {
  width: 100%;
  height: auto;
}

#user-details {
  font-weight: 700;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0.5rem;
}

#user-details-message {
  font-size: 1.2rem;
}

#user-details-name {
  font-size: 2rem;
}

#header-btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
}

#header-btns a {
  background-color: var(--primary-color);
  color: var(--base-white);
  border: 5px solid var(--primary-color);
  border-radius: 100vh;
  padding: 0.5em 1.2em;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

#header-btns a:hover, #header-btns a:active, #header-btns a:focus {
  color: var(--primary-color);
  background-color: var(--base-white);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#side-bar {
  background-color: var(--primary-color);
  color: var(--base-white);
  padding: 1.6rem;
  font-weight: 600;
  z-index: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sidenav;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  gap: 5rem;
}

#branding, #nav-1, #nav-2 {
  display: -ms-grid;
  display: grid;
  gap: 1.6rem;
}

#branding > *, #nav-1 > *, #nav-2 > * {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3rem 1fr;
      grid-template-columns: 3rem 1fr;
  gap: 0.3em;
}

#branding a > *, #nav-1 a > *, #nav-2 a > * {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

#branding a:hover > i, #branding a:active > i, #branding a:focus > i, #nav-1 a:hover > i, #nav-1 a:active > i, #nav-1 a:focus > i, #nav-2 a:hover > i, #nav-2 a:active > i, #nav-2 a:focus > i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#branding a:hover > span, #branding a:active > span, #branding a:focus > span, #nav-1 a:hover > span, #nav-1 a:active > span, #nav-1 a:focus > span, #nav-2 a:hover > span, #nav-2 a:active > span, #nav-2 a:focus > span {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#branding i, #nav-1 i, #nav-2 i {
  -ms-grid-column-align: center;
      justify-self: center;
}

#branding span, #nav-1 span, #nav-2 span {
  display: inline-block;
  -webkit-transform-origin: left;
          transform-origin: left;
}

#branding {
  font-size: 2rem;
}

main {
  --main-card-radius: 1rem;
  --main-card-padding: 1.6rem;
  background-color: var(--secondary-color);
  padding: 1.6rem;
  padding-bottom: 3rem;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "projects announcements" "projects trending";
  gap: 1.6rem;
}

main h2 {
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: 0.5em;
}

#projects-section, #announcements-section, #trending-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

#projects-section {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: projects;
}

#projects-container {
  position: relative;
}

#projects {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25ch, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  grid-auto-rows: 1fr;
  gap: 1.6rem;
}

#projects .project-card {
  border-radius: var(--main-card-radius);
  border-left: var(--main-card-radius) solid var(--user-color);
  background-color: var(--base-white);
  padding: var(--main-card-padding);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  gap: 0.5em;
}

#projects .project-card .project-title {
  font-size: 1.8rem;
  font-weight: 600;
}

#projects .project-card .project-description {
  font-size: 1.4rem;
}

#projects .project-card .project-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#projects .project-card .project-btns > * {
  cursor: pointer;
  margin: 0.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  color: black;
  background: transparent;
  padding: 0;
}

#projects .project-card .project-btns > *:hover > * {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#projects .project-card .project-btns > * > * {
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

#announcements-section {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: announcements;
}

#announcements {
  background-color: var(--base-white);
  border-radius: var(--main-card-radius);
  padding: var(--main-card-padding);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 0.5em;
}

#announcements .announcement {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

#announcements .announcement h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

#announcements .announcement p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.2rem;
  padding: 0.3em 0;
}

#announcements .announcement:not(:last-child) {
  border-bottom: 2px solid #b3b3b3;
}

#trending-section {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: trending;
}

#trending {
  background-color: var(--base-white);
  border-radius: var(--main-card-radius);
  padding: var(--main-card-padding);
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

#trending .trending-item {
  --custom-line-height: 1.8rem;
  line-height: var(--line-height);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4rem 1fr;
      grid-template-columns: 4rem 1fr;
  -ms-grid-rows: 4rem;
      grid-template-rows: 4rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

#trending .trending-item .trending-item-icon {
  background-color: var(--primary-color);
  padding: 20%;
  border-radius: 50%;
}

#trending .trending-item .trending-item-icon img {
  width: 100%;
  height: auto;
}

#trending .trending-item .trending-item-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#trending .trending-item .trending-item-info .trending-item-username {
  font-size: 1.2rem;
  font-weight: 600;
}

#trending .trending-item .trending-item-info .trending-item-title {
  font-size: 1.4rem;
}
/*# sourceMappingURL=style.css.map */