:root {
    font-size: 62.5%; /* 10px */
}

html {
    font-size: 1.6rem; /* 16px */
}

body {
    min-height: 100vh;
    margin: 0;
    transition: background-color 1s;
    display: flex;
}

p {
    background-color: white;
    flex: 1;
    margin: 2rem;
}