@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
header::before, footer::before {
  content: "";
  background-color: #8c3f45;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom SCSS */
:root {
  --book-spine-width: 1rem;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #1a1a1a;
  min-height: 100vh;
  background-image: url("../img/alfons-morales-YLSwjSy7stw-unsplash_600x352.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e6e6e6;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header, footer {
  color: #e6e6e6;
  height: 8vh;
  text-shadow: 0 0 5px #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header {
  font-size: 5rem;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer {
  font-size: small;
}

/* Books List */
#books-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30ch, 20%))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(30ch, 20%));
  grid-gap: 1em;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  place-content: center;
  margin: 1em 0;
}

/* Book */
.book {
  position: relative;
  aspect-ratio: 4/5;
  cursor: pointer;
  -webkit-perspective: 150ch;
          perspective: 150ch;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-image: url("../img/vintage-book-cover-textures-6-780x1176.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #8c3f45;
  background-size: cover;
  border-radius: 0.4rem;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.book::before {
  content: "";
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-image: url("../img/vintage-book-cover-textures-6-780x1176.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #8c3f45;
  background-size: cover;
  background-position: calc(-1 * var(--book-spine-width));
  position: absolute;
  top: 0;
  left: var(--book-spine-width);
  bottom: 0;
  right: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotateY(180deg) translate3d(-100%, 0px, var(--book-spine-width));
          transform: rotateY(180deg) translate3d(-100%, 0px, var(--book-spine-width));
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.book.open::before {
  -webkit-transform: rotateY(91deg) translate3d(-100%, 0px, 0px);
          transform: rotateY(91deg) translate3d(-100%, 0px, 0px);
}

.book.open .book-cover {
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

.book .book-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e6e6e6;
  z-index: 1;
  padding: 1em;
  text-align: center;
  border-radius: 0 0.4rem 0.4rem 0;
  overflow: hidden;
  -webkit-backface-visibility: inherit;
          backface-visibility: inherit;
  background-image: url("../img/vintage-book-cover-textures-6-780x1176.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #8c3f45;
  background-size: cover;
  background-position: calc(-1 * var(--book-spine-width)) bottom;
  background-size: calc(100% + var(--book-spine-width));
  position: absolute;
  top: 0;
  left: var(--book-spine-width);
  bottom: 0;
  right: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.book .book-cover .book-bookmark-icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
}

.book .book-cover .book-title {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.3rem;
}

.book .book-cover .book-author {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.6rem;
}

.book .book-cover .book-pages {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 1.4rem;
}

.book .book-inside {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0.8rem;
  left: var(--book-spine-width);
  bottom: 0.8rem;
  right: 0.8rem;
  background-image: url("../img/paper-texture-22_1280x853.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #e6e6e6;
  background-size: cover;
  z-index: 0;
  padding: 1em;
  cursor: initial;
}

.book .book-inside button {
  cursor: pointer;
}

.book .book-inside .book-btn-top {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.book .book-inside form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.book .book-inside form > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.book .book-inside form label span {
  display: block;
}

.book .book-inside form input:not([type="checkbox"]) {
  display: block;
  width: 100%;
}

.book .book-inside form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book .book-inside .book-btn-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book .book-inside .book-btn-bottom > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@-webkit-keyframes book-open {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
}

@keyframes book-open {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
}

/* Add New Book */
#add-new-book .book-cover {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#add-new-book .book-cover i {
  font-size: 6rem;
  padding: 0.5em;
}

/* Add New Book Modal */
#add-new-book-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 100vw;
  width: 100%;
  height: 100%;
}

/* Switch Checkbox */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  /* Hide default HTML checkbox */
  /* Slider */
  /* Rounded sliders */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input:checked + .slider {
  background-color: #2196F3;
}

.switch input:checked + .slider::before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .round {
  border-radius: 34px;
}

.switch .round::before {
  border-radius: 50%;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

.hide {
  display: none;
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background-image: url("../img/alfons-morales-YLSwjSy7stw-unsplash_768x450.jpg");
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-image: url("../img/alfons-morales-YLSwjSy7stw-unsplash_992x582.jpg");
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-image: url("../img/alfons-morales-YLSwjSy7stw-unsplash_1200x704.jpg");
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background-image: url("../img/alfons-morales-YLSwjSy7stw-unsplash_5957x3493.jpg");
  }
}
/*# sourceMappingURL=style.css.map */