@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$base-white: hsl(0,0%,90%);
$base-black: hsl(0,0%,10%);
$primary-color: #8c3f45; // f9a23a
$secondary-color: #285954; // b95233
$tertiary-color: #71873D; // 133729

%transparent-primary-color-background {
    content: "";
    background-color: $primary-color;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom SCSS */

$book-cover-img: url('../img/vintage-book-cover-textures-6-780x1176.jpg');
$book-paper-img: url('../img/paper-texture-22_1280x853.jpg');
$book-paper-margin: 0.8rem;
$book-cover-border-radius: $book-paper-margin / 2;
$book-width: 25rem;
$book-spine-width: 1rem;

:root {
    --book-spine-width: 1rem;
}

html {
    font-size: 62.5%; // 1rem = 10px
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem; // 16px
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $base-black;
    min-height: 100vh;
    // Background
    background-image: url('../img/alfons-morales-YLSwjSy7stw-unsplash_600x352.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $base-white;
    background-attachment: fixed;
    // Flex
    display: flex;
    flex-direction: column;
}

header, footer {
    color: $base-white;
    text-shadow: 0 0 5px $base-black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header {
    font-size: 5rem;
    padding: 0.3em;

    &::before {
        @extend %transparent-primary-color-background;
    }

    img {
        height: 1em;
        width: auto;
        margin: 0 0.3em;
    }
}

main {
    flex: 1;
}

footer {
    font-size: small;

    &::before {
        @extend %transparent-primary-color-background;
    }

    p {
        padding: 1em;
    }
}

/* Books List */

#books-list {
    flex: 1;
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(30ch, 20%));
    grid-template-columns: repeat(auto-fill, $book-width);
    grid-gap: 5em 2em;
    justify-items: stretch;
    align-items: stretch;
    place-content: center;
    margin: 1em 0;
}

/* Book */

@mixin background-cover($url, $color: $base-white) {
    background-image: $url;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: $color;
    background-size: cover;
}

.book {
    position: relative;
    aspect-ratio: 4/5;
    cursor: pointer;
    perspective: 150ch;
    transform-style: preserve-3d;
    @include background-cover($book-cover-img, $primary-color);
    border-radius: $book-cover-border-radius;
    backface-visibility: visible;
    box-shadow: 0px 0px 30px 5px $base-black;

    // Back of front-cover
    &::before {
        content: "";
        backface-visibility: hidden;
        // Background
        @include background-cover($book-cover-img, $primary-color);
        background-position: calc(-1 * var(--book-spine-width));
        // Absolute Positioning
        position: absolute;
        top: 0;
        left: var(--book-spine-width);
        bottom: 0;
        right: 0;
        // Transform
        transform-origin: left;
        transform: rotateY(180deg) translate3d(-100%, 0px, $book-spine-width);
        transition: transform 1s ease-in-out;
    }

    // Edge of front cover
    &::after {
        content: "";
        backface-visibility: hidden;
        // Background
        @include background-cover($book-cover-img, $primary-color);
        background-position: left;
        // Absolute Positioning
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: var(--book-spine-width);
        // Transform
        transform-origin: left;
        transform: rotateY(90deg) translate3d($book-spine-width, 0px, $book-width - $book-spine-width);
        transition: transform 1s ease-in-out;
    }

    &.open {
        &::before {
            transform: rotateY(90deg) translate3d(-100%, 0px, $book-spine-width);
        }
        .book-cover {
            transform: rotateY(-90deg);
        }
        &::after {
            transform: rotateY(0deg) translate3d($book-spine-width, 0px, $book-width - $book-spine-width)
        }
    }

    .book-cover {
        // Flex
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        // Misc
        color: $base-white;
        z-index: 1;
        padding: 1em;
        text-align: center;
        border-radius: 0 $book-cover-border-radius $book-cover-border-radius 0;
        overflow: hidden;
        backface-visibility: inherit;
        // Background
        @include background-cover($book-cover-img, $primary-color);
        background-position: calc(-1 * var(--book-spine-width)) bottom;
        background-size: calc(100% + var(--book-spine-width));
        // Absolute Positioning
        position: absolute;
        top: 0;
        left: var(--book-spine-width);
        bottom: 0;
        right: 0;
        // Transform / Transition
        transform-origin: left;
        transform: rotateY(0deg);
        transition: transform 1s ease-in-out;

        .book-bookmark-icon {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 2em; // Use em instead of rem to size icon based on font-size of parent container
        }

        .book-title {
            flex: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.3rem;
        }

        .book-author {
            flex: 1;
            font-size: 1.6rem;
        }

        .book-pages {
            flex: 1;
            display: flex;
            align-items: flex-end;
            font-size: 1.4rem;
        }
    }

    .book-inside {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: $book-paper-margin;
        left: calc(2 * var(--book-spine-width));
        bottom: $book-paper-margin;
        right: $book-paper-margin;
        @include background-cover($book-paper-img);
        z-index: 0;
        padding: 0.5em 1em;
        cursor: initial;

        button {
            cursor: pointer;
            appearance: none;
            background-color: inherit;
            color: $primary-color;
            border: none;
        }

        .book-btn-top {
            align-self: flex-end;

            .book-inside-cancel {
                font-size: 2rem;
                padding: 0;
            }
        }

        form {
            flex: 1;
            display: flex;
            flex-direction: column;

            > * {
                flex: 1;
            }

            > label {
                display: block;

                span {
                    display: block;
                }
            }

            span, input:not([type="checkbox"]) {
                font-size: inherit;
                padding: 0.2em;
            }

            input {
                &:not([type="checkbox"]) {
                    display: block;
                    width: 100%;
                    appearance: none;
                    border: none;
                    border-radius: 0.2em;

                    &:focus {
                        outline: $primary-color solid 3px;
                    }
                }
            }

            fieldset {
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    padding-right: 0.5em;
                }
            }
        }

        .book-btn-bottom {
            display: flex;
            gap: 0.5em;

            button {
                flex: 1;
                border: 3px solid $primary-color;
                padding: 0.3em;
                font-weight: 500;

                &:hover, &:active {
                    background-color: $primary-color;
                    color: $base-white;
                }
            }

        }
    }
}

/* Add New Book */

#add-new-book {
    .book-cover {
        justify-content: center;

        i {
            font-size: 6rem;
            padding: 0.5em;
        }
    }
}

/* Switch Checkbox */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    /* Hide default HTML checkbox */
    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked {
            + .slider {
                background-color: $primary-color;

                &::before {
                    transform: translateX(26px);
                }
            }
        }

        &:focus + .slider {
            box-shadow: 0 0 1px $primary-color;
        }
    }
    /* Slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;

        &::before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
        }
    }
    /* Rounded sliders */
    .round {
        border-radius: 34px;

        &::before {
            border-radius: 50%;
        }
    }
}

/* Utility Classes */

.text-center {
    text-align: center;
}

.hide {
    display: none;
}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        background-image: url('../img/alfons-morales-YLSwjSy7stw-unsplash_768x450.jpg');
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background-image: url('../img/alfons-morales-YLSwjSy7stw-unsplash_992x582.jpg');
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        background-image: url('../img/alfons-morales-YLSwjSy7stw-unsplash_1200x704.jpg');
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        background-image: url('../img/alfons-morales-YLSwjSy7stw-unsplash_5957x3493.jpg');
    }
}